<div class="container">
  <h1 class="text-center my-5 text-primary">Password Generator</h1>
  <div class="row justify-content-md-center">
    <div class="col-md-8">

      <!-- Here we start card -->
      <div class="card">
        <div class="card-header">
          Password Generator Application
        </div>
        <!-- Here card body -->
        <div class="card-body">

          <div class="form-group">
            <label for="lenght">Password Lenght</label>
            <input 
              type="text" 
              class="form-control" 
              id="lenght"
              (input)="onInput($event.target.value)"
              >
          </div>

          <!-- Here we put our controls -->
          <div class="row">
            <div class="col-md-4">
              <div class="custom-control custom-switch">
                <input 
                  (change)="onChangeLetters()"
                  type="checkbox" 
                  class="custom-control-input" 
                  id="charachters">
                <label class="custom-control-label" for="charachters">
                  Use Charachters
                </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="custom-control custom-switch">
                <input 
                  (change)="onChangeNumbers()"
                  type="checkbox"
                  class="custom-control-input"
                  id="numbers">
                <label class="custom-control-label" for="numbers">
                  Use Numbers
                </label>
              </div>
            </div>

            <div class="col-md-4">
              <div class="custom-control custom-switch">
                <input 
                  (change)="onChangeSymbols()"
                  type="checkbox"
                  class="custom-control-input"
                  id="symbols">
                <label class="custom-control-label" for="symbols">
                  Use Symbols
                </label>
              </div>
            </div>
          </div>

          <!-- Here the Submit button -->
          <button
            [disabled]="!(lenght && (useLetters || useNumbers || useSymbols ))" 
            class="btn btn-primary mt-4" 
            (click)='genPassword()'>
            Generate Password
          </button>

        </div>
      </div>

    </div>
  </div>
</div>

<p class="h1 text-center mt-5 text-muted" *ngIf="password">
  {{ password }}
</p>